body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div{
    background-color: darkgray;
    line-height: 50px;
    text-align: center;
    margin:auto;
}